{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'vendors/bootstrap4/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/tether-1.3.3/dist/css/tether.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'resources/style.css' %}">
        <link rel="stylesheet" href="{% static 'resources/image_button.css' %}">
        <script src="{% static 'vendors/jquery/jquery-3.2.1.min.js'%}"></script>
        <script src="{% static 'vendors/tether-1.3.3/dist/js/tether.min.js'  %}"> </script>
        <script src="{% static 'vendors/bootstrap4/js/bootstrap.min.js'  %}"> </script>
    </head>

    <body>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button"
              data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{%  url 'mainpage:index' %}">ARQ-PROJECT</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Sitios Arquelógicos <span class="fa fa-chevron-down"></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>Nuevo Sitio</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#"><i class="fa fa-map-o" aria-hidden="true"></i>Listar/Editar Sitios</a>
                            </li>
                        </ul>
                    </li>
                       <li class="nav-item">
                           <a class="nav-link" href="#">Validar sitios</a>
                      </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Galería <span class="fa fa-chevron-down"></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" href="{% url 'jorge:gallery_sites' %}"><i class="fa fa-map-marker" aria-hidden="true"></i>Galería Sitios</a>
                            </li>
                            <li>
                                <a class="nav-link" href="{% url 'jorge:gallery_objects' %}"><i class="fa fa-map-o" aria-hidden="true"></i>Galería Objetos</a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link" href="{%  url 'jorge:list_sites' %}">Sitios Arqueológicos</a>
                    </li>


                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Mapas</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="nav-link" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Mapeo por área</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#"><i class="fa fa-map-o" aria-hidden="true"></i> Mapa resumido</a>
                            </li>
                            <li>
                                <a class="nav-link" href="#"><i class="fa fa-map" aria-hidden="true"></i> Mapa completo</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{%  url 'admin:index' %}">Admin</a>
                    </li>


                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

      {% block content %}
      {% endblock %}

      {% block scripts %}
      {% endblock %}

    </body>

</html>